transformers==4.45.1
datasets==3.0.1
peft==0.11.1
bitsandbytes==0.43.3
accelerate==0.34.2
evaluate==0.4.3
sentence-transformers==3.0.1
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
pandas==2.2.3
numpy==1.26.4
